{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "android": "4.4",
                    "ios": "9",
                    "chrome": "30"
                }
            }
        ],
        "@babel/preset-react"
    ]
}
